@model IEnumerable<Starex.Models.Order>

    <div class="resizable-table">
        <table class="table w-100" >
            <thead class="w-100">
                <tr class="w-100">
                    <th> Tracking code</th>
                    <th>Sifariş Linki</th>
                    <th> Miqdar </th>
                    <th>Ölçü</th>
                    <th>Rəng</th>
                    <th>Qeyd</th>
                    <th>Qiymət</th>
                    <th> Türkiyədaxili kargo</th>
                    <th>Cəmi qiymət </th>
                    <th>Yenilənmə tarixi</th>
                    <th> Düzəliş et</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="d-flex">
                        @if (item.CountryId == 1)
                        {
                            <img src="~/images/usa.7b416161.png" />
                        }
                        else if (item.CountryId == 2)
                        {
                            <img src="~/images/turkey.png" />
                        }

                        else
                        {
                            <img src="~/images/chin.png" />
                        }
                        @Html.DisplayFor(modelItem => item.TrackingCode)
                    </td>
                    <td class="url" style="table-layout: fixed;">@Html.DisplayFor(modelItem => item.Url)</td>
                    <td> @Html.DisplayFor(modelItem => item.Quantity)</td>
                    <td> @Html.DisplayFor(modelItem => item.ProductSize)</td>
                    <td> @Html.DisplayFor(modelItem => item.ProductColor)</td>
                    <td> @Html.DisplayFor(modelItem => item.Comment)</td>
                    <td> @Html.DisplayFor(modelItem => item.Product_Price) </td>
                    <td> @Html.DisplayFor(modelItem => item.Cargo_Price)</td>
                    <td> @Html.DisplayFor(modelItem => item.PriceResult) </td>
                    <td> @Html.DisplayFor(modelItem => item.CreationDate)</td>


                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>