@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
@model IEnumerable<Order>
@{

    var user = await userManager.GetUserAsync(User);
    var displayName = "";
    var usercode = "";
}

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

@if (signInManager.IsSignedIn(User))
{
    usercode = user.UserCode;
}

<main class="pt-4 dashboard-content">

    <div class="container mainlayout">
        <div class=" bg-white p-4 mb-4 border">
            <div class="row">

                @if (signInManager.IsSignedIn(User))
                {
                    displayName = user.Name + " " + user.Surname;
                    usercode = user.UserCode;
                    <div class="col-12 col-lg-4 mb-3">
                        <h2>@displayName </h2>
                        <p>MÜŞTƏRİ KODU: <strong> #@usercode</strong></p>
                    </div>

                }



                <div class="col-12 col-lg-8 d-flex flex-wrap">
                    <div class="col-md-6 col-lg mb-3">
                        <div class="orders-btn add-order">
                            Sifariş et <i class="fas fa-plus ml-2"></i>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="orders-btn add-declaration">
                            Bəyanname əlavə et <i class="fas fa-newspaper ml-2"></i>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="orders-btn">
                            Kuryer sifariş et <i class="fas fa-truck ml-2"></i>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="orders-btn">
                            Onlayn müraciət et <i class="fas fa-clipboard-list ml-2"></i>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <div class="row">
                        <div class="col-lg my-2">
                            <div class="currency-card d-flex flex-column justify-content-between py-2 px-3 rounded shadow">
                                <p>Cari ay ərzində</p>
                                <div>$ 0</div>
                            </div>
                        </div>
                        <div class="col-lg my-2">
                            <div class="currency-card d-flex flex-column justify-content-between  py-2 px-3 rounded shadow">
                                <p>Balance (TRY)</p>
                                @if (ViewBag.balanceTRY != null)
                                {
                                    <div>@ViewBag.balanceTRY ₺</div>
                                }

                            </div>
                        </div>
                        <div class="col-lg my-2">
                            <div class="currency-card d-flex flex-column justify-content-between  py-2 px-3 rounded shadow">
                                <p>Balance (USD)</p>
                                @if (ViewBag.balanceUSD != null)
                                {
                                    <div>$ @ViewBag.balanceUSD</div>
                                }

                            </div>
                        </div>
                        <div class="col-lg my-2">
                            <a href="/news/gold-musteri-proqrami1597036283-170817/"
                               class="currency-card d-flex flex-column justify-content-between  py-2 px-3 rounded shadow d-block">
                                <p>Son 6 ay çatdırılma ödənişi</p><span class="donation-question" id="donation-question"></span>
                                <div>$ 0.00</div>
                            </a>
                        </div>
                        <div class="col-lg my-2">
                            <a href="/social-responsibility/"
                               class="currency-card d-flex flex-column justify-content-between  py-2 px-3 rounded shadow d-block">
                                <p>Şəhid ailələrinə dəstəyiniz</p><span class="donation-question" id="social-contribution"></span>
                                <div>0.00 ₼</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-12 dashboard-tabs">
                <ul class="order-nav bg-white d-flex flex-wrap align-items-center w-100 border mb-1">
                    <li index="address" class="active-li"><a href="#/address">Xaricdəki ünvanlarım</a></li>
                    <li index="orders"><a href="#/orders">Sifarişlərim</a></li>
                    <li index="declarations"><a href="#/declarations">Bağlamalar/Bəyannamələr</a></li>
                    <li index="balance"><a href="#/balance">Balans</a></li>
                </ul>
            </div>
        </div>
    </div>

    <section class="componentss">
        <div class="container">
            <div class="d-none order-country">
                <div class=" mt-3 d-flex p-4 flex-column align-items-center justify-content-center border bg-white">
                    @(await Component.InvokeAsync<Starex.ViewComponents.CountryViewComponent>())
                </div>
            </div>


            <div class="d-none new-order">
                <div class=" col-12 mt-3 d-flex p-4 flex-column align-items-center justify-content-center border bg-white" style="box-sizing:border-box;">
                    @(await Component.InvokeAsync<Starex.ViewComponents.OrderViewComponent>())
                </div>
            </div>

            <div class="d-none new-declaration">
                <div class=" col-12 mt-3 d-flex p-4 flex-column align-items-center justify-content-center border bg-white" style="box-sizing:border-box;">

                    @(await Component.InvokeAsync<Starex.ViewComponents.DeclarationViewComponent>())

                </div>
            </div>


        </div>
    </section>

    <section class="dashboard pb-4">
        <div class="container">
            <div class="dashboard-tabs-content">
                <div class="address d-none bg-white border tabs tabs-content  mt-4" index="address">
                    <ul class="d-flex">
                        <li class="py-3 active-li">
                            <img src="~/images/Turk.png" alt="">
                            <p>Türkiyə</p>
                        </li>

                        <li class="py-3">
                            <img src="~/images/USa.png" alt="">
                            <p>ABŞ</p>
                        </li>

                        <li class="py-3">
                            <img src="~/images/chin.png" alt="">
                            <p>Çin</p>
                        </li>
                    </ul>

                    <div class="adress-content">
                        <div class="row justify-content-between py-5 px-4 ">
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    <strong>Adres başlığı</strong>
                                    <p>Starex</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    @if (signInManager.IsSignedIn(User))
                                    {
                                        displayName = user.Name + " " + user.Surname;
                                        <strong>Ad Soyad</strong>
                                        <p>@displayName</p>
                                    }
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    <strong>Adres 1</strong>
                                    <p>Merkez mah. Degirmenbahce cad. no 26. İnci iş merkezi @usercode.</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    <strong>İl-Şehir</strong>
                                    <p>Istanbul</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    <strong>İlçe</strong>
                                    <p>Bahçelievler</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    <strong>Semt</strong>
                                    <p>Yenibosna</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    <strong>ZIP</strong>
                                    <p>34197</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    <strong>Ülke</strong>
                                    <p>Turkey</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    <strong>TC kimlik</strong>
                                    <p>99674408434</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    <strong>Mobil telefon</strong>
                                    <p>5454714371</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="adress-content d-none">
                        <div class="row justify-content-between py-5 px-4 ">
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    @if (signInManager.IsSignedIn(User))
                                    {
                                        displayName = user.Name + " " + user.Surname;
                                        <strong>Name Surname</strong>
                                        <p>@displayName</p>
                                    }
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    <strong>Address 1</strong>
                                    <p>320 Cornell Dr Ste C3</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    <strong>Address 2</strong>
                                    <p>@usercode STAR EXPRESS</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    <strong>City</strong>
                                    <p>Wilmington</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    <strong>Region</strong>
                                    <p>DE</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    <strong>Direction</strong>
                                    <p>DE</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    <strong>ZIP</strong>
                                    <p>19801-5783</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    <strong>Country</strong>
                                    <p>United States</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    <strong>Phone</strong>
                                    <p>+1 (302) 476-81-93</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="adress-content py-5 d-none">
                        <h4 class="mb-3 ml-3">English</h4>
                        <div class="row justify-content-between  px-4">
                            <div class="col-md-5  my-3">
                                <div class="address-item">
                                    <strong>Address title</strong>
                                    <p>Starex</p>

                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-5  my-3">
                                <div class="address-item">
                                    @if (signInManager.IsSignedIn(User))
                                    {
                                        displayName = user.Name + " " + user.Surname;
                                        <strong>Full name</strong>
                                        <p>@displayName</p>
                                    }

                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5  my-3">
                                <div class="address-item">
                                    <strong>Address 1</strong>
                                    <p>WING LOCK HOUSE 5FL/ ROOM C, 1-3 lock Road Tsim Sha Tsui @usercode Aytakin Agayeva</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5  my-3">
                                <div class="address-item">
                                    <strong>City</strong>
                                    <p>Hong Kong</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5  my-3">
                                <div class="address-item">
                                    <strong>Region</strong>
                                    <p>Kowloon</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5  my-3">
                                <div class="address-item">
                                    <strong>Zip</strong>
                                    <p>999077</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5  my-3">
                                <div class="address-item">
                                    <strong>Country</strong>
                                    <p>Hong Kong</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5  my-3">
                                <div class="address-item">
                                    <strong>Phone </strong>
                                    <p>+85254918983</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <h4 class="mb-3 ml-3 pt-5">Chinese</h4>
                        <div class="row justify-content-between  px-4">
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    <strong>Address title</strong>
                                    <p>Starex</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    @if (signInManager.IsSignedIn(User))
                                    {
                                        displayName = user.Name + " " + user.Surname;
                                        <strong>Full name</strong>
                                        <p>@displayName</p>
                                        <div data-tip="copy" class="copy-btn">
                                            <i class="fas fa-copy"></i>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    <strong>Address 1</strong>
                                    <p>香港九龙尖沙咀骆克道1-3A永乐大楼5C @usercode Aytakin Agayeva</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    <strong>City</strong>
                                    <p>香港</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    <strong>Region</strong>
                                    <p>九龙尖</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    <strong>Zip</strong>
                                    <p>999077</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    <strong>Country</strong>
                                    <p>香港</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 my-3">
                                <div class="address-item">
                                    <strong>Phone </strong>
                                    <p>+85254918983</p>
                                    <div data-tip="copy" class="copy-btn">
                                        <i class="fas fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

                <div class="orders d-none mt-4" index="orders">
                    @{
                        if (TempData["message"] != null)
                        {

                            <section class="register py-5">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8 justify-content-center " style="color: #D93025;box-sizing: border-box;
                                            background-color: rgba(217, 48, 37, 0.26); padding: 14px 24px;text-align: center;">
                                            <p style="line-height:1.6;font-size:16px;">
                                                @TempData["message"]
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        }
                    }
                    <ul class="sub-nav bg-white d-flex flex-column flex-md-row w-100 border mb-4 list-unstyled">
                        <li class="active-li"><a aria-current="page" href="#/orders/0">Hamısı (@ViewBag.AllOrders)</a></li>
                        <li><a href="#/orders/1">Səbət (@ViewBag.UnpaidOrders)</a></li>
                        <li><a href="#/orders/2">Ödənildi (@ViewBag.PaidOrders)</a></li>
                        <li><a href="#/orders/3">Sifariş verildi (@ViewBag.OrderedOrders)</a></li>
                        <li><a href="#/orders/4">Silindi (@ViewBag.DeletedOrders)</a></li>
                    </ul>


                    <div class="order-table bg-white border orderList">
                        @*@(await Component.InvokeAsync<Starex.ViewComponents.AllOrdersTableViewComponent>())*@

                    </div>


                </div>

                <div class="declarations d-none mt-4" index="declarations">

                    <ul class="sub-nav bg-white d-flex flex-column flex-md-row w-100 border mb-4 list-unstyled">
                        <li class="active-li"><a aria-current="page" href="#/orders/0">Hamısı (@ViewBag.allDeclarations)</a></li>
                        <li><a href="#/declarations/1">Öncədən bəyan et (@ViewBag.declaredDeclarations)</a></li>
                        <li><a href="#/declarations/2">Xarici anbardadır (@ViewBag.inForeignWarehouseDeclarations)</a></li>
                        <li><a href="#/declarations/3">Yoldadır (@ViewBag.onTheWayDeclarations)</a></li>
                        <li><a href="#/declarations/4">Yerli anbardadır (@ViewBag.inLocalWarehouseDeclarations)</a></li>
                        <li><a href="#/declarations/5">Təhvil verildi (@ViewBag.deliveredDeclarations)</a></li>
                    </ul>


                    <div class="declaration-table bg-white border declarationList">

                    </div>
                </div>

                <div class="balance d-none mt-4" index="balance">
                 
                    @(await Component.InvokeAsync<Starex.ViewComponents.BalanceViewComponent>())

                </div>
            </div>
        </div>

    </section>
</main>
