@model IEnumerable<Starex.Models.Order>

@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="table-responsive resizable-table">
    <table class="table table-bordered w-100">
        <thead class="w-100">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TrackingCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        @if (item.CountryId == 1)
                        {
                            <img src="~/images/usa.7b416161.png" />
                        }
                        else if (item.CountryId == 2)
                        {
                            <img src="~/images/turkey.png" />
                        }

                        else
                        {
                            <img src="~/images/chin.png" />
                        }
                        @Html.DisplayFor(modelItem => item.TrackingCode)
                    </td>
                    <td >
                        @Html.DisplayFor(modelItem => item.User.Name)  @Html.DisplayFor(modelItem => item.User.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>

                    <td>
                        @if (item.StatusId == 1)
                        {
                            <a href="" style=" cursor: not-allowed;opacity: 0.5;" disabled class="btn btn-success">Sifariş et<i class="ml-1 fas fa-check"></i></a>
                        }
                        @if (item.StatusId == 2)
                        {
                            <a asp-action="EditOrder" asp-route-id="@item.Id" class="btn btn-success" onclick="return confirm('Are you sure you want to change it?');">Sifariş et<i class="ml-1 fas fa-check"></i></a>
                        }
                        @if (item.StatusId == 3)
                        {
                            <a asp-action="CreateDeclaration" asp-route-id="@item.Id" class="btn btn-warning" style="color:white;" >Bəyan et<i class="ml-1 fas fa-check"></i></a>
                        }


                    </td>
                    <td>
                        <div class="d-flex flex-nowrap">
                            <div  class="btn btn-secondary mr-1 " data-title="Details" data-toggle="ajax-modal" data-target="#myModal"><i data-id="@item.Id" class="fas fa-info-circle orderdetailsId"></i></div>
                            <a asp-action="DeleteOrder" asp-route-id="@item.Id" class="btn btn-danger" data-title="Delete" onclick="return confirm('Are you sure you want to delete? This action cannot be undone.');"><i class="fas fa-trash"></i></a>


                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modalDiv">

</div>

